@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --primary-accent-color: #008000;
    --primary-background-color: #383838;
    --content-background-color: #ffffef; 

}

* {
    box-sizing: border-box;
    /* height: 100vh; */
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-background-color);
    font-family: 'Questrial', sans-serif;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(1, 161, 1);
    border-radius: 5px;
}

/* ---TODO--- */
.todo {
    background-color: var(--content-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    animation: fadeIn 1s;
}



/* ---HEADER--- */
.header {
    display: flex;
    justify-content: center;
    width: fit-content;
    animation: fadeIn 2s;
    /* background-color: green; */
}
h1 {
    color:green;
}

p.description {
    font-size: 20px;
}
p.info {
    color: rgb(105, 105, 105);
    font-style: italic;
    transition: all 1s;
}
p.info span {
    color: rgb(223, 48, 77);
}
/* INVISIBLE P INFO CLASS */
.info-invisible {
    visibility: hidden;
} 



/* ---INPUT AREA--- */
.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input.item-input {
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

/* BUTTONS */
.btn-controls {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.btn {
    padding: 6px;
    font-family: 'Questrial', sans-serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 239);
}

.btn:focus {
    outline: 0;
}

button#enter {
    background-color: var(--primary-accent-color);
}
button#enter:active {
    background-color: rgb(1, 87, 1);
}

button#clear {
    background-color: rgb(47, 141, 141);
}
button#clear:active {
    background-color: rgb(32, 99, 99);
}

/* BUTTON DELETE CLASS */
.button-delete {
    /* color: rgb(255, 255, 239); */
    color: red;
    border: 2px solid red;
    padding: 2px 8px;
    margin: 0 7px;
    border-radius: 6px;
    outline: 0;
    cursor: pointer;
}
/* BUTTON DELETE CLICKED CLASS */
.button-delete:focus {
    background-color: red;
    color: rgb(255, 255, 239);
}



/* LIST */
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* LI LINE THROUGH DONE CLASS*/
.done {
    text-decoration: line-through;
}

li {
    list-style: none;
    left: 40px;
    cursor: pointer;
    font-size: 24px;
}



/* ----MEDIA QUERIES---- */
@media only screen and (max-width: 600px) {
    .todo {
        padding: 60px;
        width: 95%;
    }


    .header h1 {
        font-size: 3rem;
        text-align: center;
    }
    p.description {
        font-size: 20px;
        text-align: center;
    }
    p.info {
        font-size: 10px;
    }


    button#enter {
        padding: 10px;
    }




    li {
        font-size: 19px;
    }







    /* input.item-input {
        padding: 0;
    } */
}